In [1]:
import pandas as pd

#### 1.Write code to open the text file census_costs.txt and read all lines into a list named "line_list". Print line_list.

In [14]:
with open("/content/census_costs.txt" , "r") as a:
   line_list = a.readlines()
print(line_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11\n']

#### 2.Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [11]:
top2_list = 0 
top2_list = line_list[:5]

In [8]:
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n']

#### 3.Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list

In [97]:
data_list = 0 
data_list = line_list[1:]
print(data_list)

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [15]:
for j in range(len(line_list)):
  print(line_list[j], sep='\t')

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [21]:
column_names = [line.split(",")[0] for line in line_list[:1]]

print(column_names)

['Source: https://www.genealogybranches.com/censuscosts.html\n']

#### 4.Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "*" from the last element "2010*". Print the cleansed year_list.

In [32]:
year_list= [line.split("\t")[0] for line in data_list ]
print(year_list)

['1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010*']

In [30]:
year_list1 = [line.strip("*") for line in year_list]
print(year_list1)

['1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

#### 5.Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [34]:
census= [line.split("\t")[1] for line in data_list ]
print(census)

['9,633,822', '12,866,020', '17,069,458', '23,191,876', '31,443,321', '38,558,371', '50,155,783', '62,979,766', '76,303,387', '91,972,266', '105,710,620', '122,775,046', '131,669,275', '151,325,798', '179,323,175', '203,302,031', '226,542,199', '248,718,301', '281,421,906', '308,745,538']

In [36]:
def remove_comma(number):

    number = number.replace(",", "")
    return number

In [39]:
pop_list=[0]
for y in census:
    ppl = remove_comma(y)
    pop_list.append(ppl)
  
print(pop_list)

[0, '9633822', '12866020', '17069458', '23191876', '31443321', '38558371', '50155783', '62979766', '76303387', '91972266', '105710620', '122775046', '131669275', '151325798', '179323175', '203302031', '226542199', '248718301', '281421906', '308745538']

#### 6.Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

In [117]:
cost_list = [line.split("\t")[2] for line in data_list ]
print(cost_list)

['Census Cost', '$44,377', '$66,109', '$178,445', '$208,526', '$378,545', '$833,371', '$1,423,351', '$1,969,377', '$3,421,198', '$5,790,678', '$11,547,127', '$11,854,000', '$15,968,000', '$25,117,000', '$40,156,000', '$67,527,000', '$91,462,000', '$127,934,000', '$247,653,000', '$1,078,488,000', '$2,492,830,000', '$4.5 Billion', '$13 Billion']

In [118]:
for i, a in enumerate(cost_list):
  a = a.replace(",","").replace("$","")
  if 'Billion' in a:
    a = float(str(a).replace("Billion",""))
    a = int(float(a)  * 1000000000)
  cost_list[i] = str(a)
print(cost_list)

['Census Cost', '44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4500000000', '13000000000']

In [119]:
cost_list = []
for line in data_list:
    cost = line.split("\t")[2]
    cost = cleanse_cost(cost)
    cost_list.append(cost)

print(cost_list)

['Census Cost', '44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4500000000', '13000000000']

#### 7.Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.

In [130]:
average = [line.split("\t")[-1] for line in data_list ]
print(average)

['Average Cost Per Person\n', '1.13 cents\n', '1.24 cents\n', '2.46 cents\n', '2.16 cents\n', '2.94 cents\n', '4.88 cents\n', '6.14 cents\n', '6.26 cents\n', '8.87 cents\n', '11.54 cents\n', '18.33 cents\n', '15.54 cents\n', '17.07 cents\n', '23.76 cents\n', '32.71 cents\n', '51.29 cents\n', '60.44 cents\n', '71.34 cents\n', '$1.22\n', '$4.76\n', '$10.02\n', '$15.99\n', '$42.11\n']

In [132]:
avg_list = [line.split('\t')[3] for line in data_list]
print(avg_list)

['Average Cost Per Person\n', '1.13 cents\n', '1.24 cents\n', '2.46 cents\n', '2.16 cents\n', '2.94 cents\n', '4.88 cents\n', '6.14 cents\n', '6.26 cents\n', '8.87 cents\n', '11.54 cents\n', '18.33 cents\n', '15.54 cents\n', '17.07 cents\n', '23.76 cents\n', '32.71 cents\n', '51.29 cents\n', '60.44 cents\n', '71.34 cents\n', '$1.22\n', '$4.76\n', '$10.02\n', '$15.99\n', '$42.11\n']

In [133]:
for ix, a in enumerate(avg_list):
  a = a.replace("$", "").replace('\n','')
  if 'cents' in a:
    a = float(str(a).replace("cents", ""))
    a = round(float(a/ 100), 4)
  avg_list[ix] = str(a)
print(avg_list)

['Average Cost Per Person', '0.0113', '0.0124', '0.0246', '0.0216', '0.0294', '0.0488', '0.0614', '0.0626', '0.0887', '0.1154', '0.1833', '0.1554', '0.1707', '0.2376', '0.3271', '0.5129', '0.6044', '0.7134', '1.22', '4.76', '10.02', '15.99', '42.11']

#####  8.Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [100]:
final_list = []
final_list.append(column_names)
# final_list.append(top2_list)

for i in top2_list:
  temp = [i]
  final_list.append(temp)

for i in range(len(year_list)):
  data = [year_list1[i]+" "+str(pop_list[i])+" "+str(cost_list[i])+"  "+str(avg_list[i])]
  final_list.append(data)

In [104]:
print(final_list)

[['Source: https://www.genealogybranches.com/censuscosts.html\n'], ['Source: https://www.genealogybranches.com/censuscosts.html\n'], ['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n'], ['1790\t3,929,214\t$44,377\t1.13 cents\n'], ['1800\t5,308,483\t$66,109\t1.24 cents\n'], ['1810\t7,239,881\t$178,445\t2.46 cents\n'], ['1820 0 208526  0.0216'], ['1830 9633822 378545  0.0294'], ['1840 12866020 833371  0.048799999999999996'], ['1850 17069458 1423351  0.061399999999999996'], ['1860 23191876 1969377  0.0626'], ['1870 31443321 3421198  0.08869999999999999'], ['1880 38558371 5790678  0.11539999999999999'], ['1890 50155783 11547127  0.1833'], ['1900 62979766 11854000  0.15539999999999998'], ['1910 76303387 15968000  0.1707'], ['1920 91972266 25117000  0.2376'], ['1930 105710620 40156000  0.3271'], ['1940 122775046 67527000  0.5129'], ['1950 131669275 91462000  0.6043999999999999'], ['1960 151325798 127934000  0.7134'], ['1970 179323175 247653000  0.012199999999999999'], ['1980 203302031 1078488000  0.047599999999999996'], ['1990 226542199 2492830000  0.1002'], ['2000 248718301 4500000000  0.15990000000000001'], ['2010 281421906 13000000000  0.4211']]

In [140]:
for j in range(len(final_list)):
  final = final_list[j]

In [141]:
print(final)

['2010 281421906 13000000000  0.4211']

#### 9.Write code to open the newly-created file "census_cost.csv", read all lines and display them. How does it look?

In [145]:
import csv
with open("census_cost.csv","w") as f:
  for j in range(len(final_list)):
      final = final_list[j]
      for j in final:
        f.write(j)